menuconfig FUJITSU_ORG_DRIVER
	bool "Fujitsu device drivers"
	default y
	---help---
	  Say Y here to get to see options for device drivers from various
	  different categories. This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be skipped and disabled.

source "drivers/fujitsu/compass/Kconfig"
source "drivers/fujitsu/keypad/Kconfig"
source "drivers/fujitsu/proximity/Kconfig"
source "drivers/fujitsu/walkmotion/Kconfig"

